:root{
    --indicator-size: 0.75em
}

.fi-list {
    display: flex;
    flex-direction: column;
    padding: 0.75em 0;
}

.fi-list:empty {
    padding: 0;
}

.fi-list-item {
    border-top: none;
}

.fi-list-item .setting-item-info {
    display: none;
}

.fi-list-item input[type="text"], 
.fi-list-item .search-input-container {
    flex: 1;
}

.fi-list-item input[type="color"], 
.fi-list-item select.dropdown {
    flex: 0;
    min-width: fit-content;
}

.fi-modal-content {
    margin-block-start: 1em;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.fi-modal-error {
    display: none;
    border-top: none;
}

.fi-modal-error--active {
    display: block;
}

.fi-modal-error .setting-item-description {
    padding: 0px;
    color: var(--text-error);
}

.fi-modal-buttons {
    padding: 0px;
    border-top: none;
}

.workspace-leaf-content[data-type='file-explorer'] .tree-item-self>.tree-item-inner:before {
    position: absolute;
    display: inline-block;
    width: var(--indicator-size);
    height: var(--indicator-size);
    margin: auto;
    top: 0;
    bottom: 0;
    -webkit-transform: translateX(calc((var(--indicator-size) + var(--size-2-3)) * -1));
    transform: translateX(calc((var(--indicator-size) + var(--size-2-3)) * -1));
    -webkit-mask-size: contain; 
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}